*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
/* #class{
    overflow: hidden;
} */
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
input, button {
    box-shadow: none;
    outline: none;
}

.full_part{
    background-color: rgb(53, 53, 53);
}
.content1{
    background-color: rgba(250, 83, 5, 0.3);
    margin-left: -200px;
}
.main_content{
    background-image: url('../img/img1.jpg');
    width: 80%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}
.border1{
    border: 5px solid white;
    width: 1415px;
    margin-left: -200px;
    margin-top: 10px;
}
.border2{
    border: 5px solid white;
    width: 80px; 
    margin-top: 10px;
}
.bi{
    font-size: 80px;
    color: white;
    margin-top: -10px;
}
.coded{
    font-size: 20px;
    color: white;
    margin-top: -25px;
    padding-left: 60px;
}
.pg1{
    color: white;
    padding-left: 40px;
    padding-right: 150px;
    font-size: 20px;
}
.logo{
    font-size: 25px;
    color: white;
}
.subcontent1{
    line-height: 120px;
    color: white;
    padding-left: 30px;
    border-left: 9px solid white;
}
.business{
    font-size: 250px;
    padding-top: 50px;
    padding-bottom: 30px;
    /* padding-left: 30px; */
}
.flyer{
    font-size: 100px;    
}
.creative{
    line-height: 20px;
    padding-bottom: 100px;
    font-size: 30px;
}
.trend{
    background-color: rgba(250, 83, 5, 0.3);
    border: 10px solid white;
    font-size: 60px;
    /* height: 500px; */
    /* text-align: center; */
    color: white;
    margin: 50px 0px;
    margin-left: 190px;
    font-weight: 800; 
    text-orientation: upright;
    writing-mode: vertical-lr;   
}
.subcontent2{
    /* border-left: 5px solid white; */
    font-size: 35px;
    color: white;
    font-weight: 500;
    padding: 20px 0px;

}
.logo1{
    width: 150px;
    height: 180px;
    padding: 0px 30px;
    padding-top: 80px;
    padding-bottom: 20px;    
}
.icon{
    font-size: 30px;
    padding-bottom: 20px;
}
.pg2{
    color: white;
    padding-left: 20px;
}
.complex{
    margin-left: -185px;
    border-left: 9px solid white;
    padding-right: 30px;
}
.complex1{
    padding-left: 20px;
}
.a{
    font-size: 100px;
    color: white;
    font-weight: 500;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 280px;
}
.ab{
    color: white;
    font-size: 25px;
    text-align: justify;
    border-bottom: 3px solid rgb(189, 187, 187);
    padding-bottom: 30px;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
}
.complex4{
    background-color:rgba(177, 232, 232, 0.4);
    margin-top: -400px;
}
.complex5{
    border-top: 3px solid rgb(44, 44, 44);
}
.icon5{
    padding-left: 100px;
    padding-top: 50px;
}
.icon6{
    padding: 0px 60px;
}
.center{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    padding: 30px 60px;
}